<header>
	<h1><%= link_to "Seat Yourself", restaurants_url %></h1>

	<%= link_to "Home", restaurants_url %> |
	<% if is_owner? %>
		<%= link_to "Add a New Restaurant",  new_restaurant_url %> | 
	<% end %>
	<% if current_user %>
		<%= link_to "See Your Current Dining Reservations",  reservations_url %>
	<% end %>
</header>