/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	margin:0 auto;
	background-color: #f5f3f2;
}

a { 
	color: #222222;
	text-decoration: none;
}

h3 {
	text-transform: uppercase;
	font-weight: 300;
}

h4 a { 
	text-transform: uppercase;
	font-size: 12pt;
	color:#fea965;
}

#wrapper {
	background-color:#f5f3f2;
	width:90%;
	margin: 0 auto;
	padding:20px;
}

header {
	text-align: center;
	background-color: #f5f3f2;
}

header img {
	width:370px;
}

.userinfo {text-align: right;}

.index {
	background-color: #fff;
	margin-top:60px;
	padding:10px 30px;
	width:60%;
}

.index ul li{
	margin-bottom: 20px;
	height:190px;
	overflow: hidden;
	font-size: 11pt;
	padding-bottom: 20px;
	border-bottom: solid 2px #f5f3f2;
	}


.index img {
	width:300px;
	height:190px;
	float:left;
	margin-right:20px;
}
ul {
	list-style-type: none;
	padding-left:0px;
}